
.all-border-radius(@rad: 50%) {
	border-radius: @rad;
	-webkit-border-radius: @rad;
}

.all-opacity(@opa: 0.8) {
	opacity: @opa;
}

* {
	margin: 0px;
	padding: 0px;
}

body {
	width: 100%;
}

.about-me-box {
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 11;
	width: 300px;
	height: 100%;
	background: #fff;
}

.about-me-top {
	position: absolute;
	width: 100%;
	height: 180px;
	background: #000;
	opacity: 0.7;		
}

.about-me-content {
	margin: 112px auto 0;
	width: 76%;
	text-align: center;
	.about-me {
		width: 100%;
		.about-me-pic {
			position: relative;
			display: block;
			margin: 0 auto;
			width: 118px;
			height: 118px;
			border: 5px solid #fff;
			overflow: hidden;
			background: #88acdb;
			.all-border-radius;
			img {
				width: 100%;
				height: 100%;
				opacity: 1;
				.all-border-radius;
			}
		}
		hgroup {
			display: block;
			span {
				display: block;
				margin: 31px 0px;
				width: auto;
				font-family: Roboto, "Roboto", serif;
				text-align: center;
				font-size: 30px;
				color: #696969;
				text-decoration: none;
				outline: none;
			}
		}	
	}
}

.about-me-message {
	text-align: center;
	color: #999;
	font-size: 14px;
	line-height: 27px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: lucida grande,lucida sans unicode,lucida,helvetica,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif
}

.about-me-menu {
	position: relative;
	margin-top: 42px;
	width: 100%;
	min-height: 60px;
	overflow: hidden;
}

.menu-area {
	float: none;
	display: block;
	margin-left: -12px;
	height: 60px;
	font-weight: 300;
	line-height: 31px;
	cursor: pointer;
	text-transform: uppercase;
	text-align: center;	
	ul {
		list-style: none;
		li {
			cursor: default;
			a {
				font-size: 14px;
				min-width: 300px;
				color: #696969;
				text-decoration: none;
				font-family: lucida grande,lucida sans unicode,lucida,helvetica,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
				&:hover {
					color: #b0a0aa;
				}
			}
		}
	}
}

.about-me-keys {
	position: relative;
	margin-top: 46px;
	width: 100%;
	min-height: 20px;
	overflow: hidden;
	text-align: center;
	.key-area {
		height: 20px;
		span {
			letter-spacing: 0.5px;
			color: #696969;
			font-size: 12px;
			font-family: lucida grande,lucida sans unicode,lucida,helvetica,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
			cursor: pointer;
			&:hover {
				color: #b0a0aa;
			}
		}
	}
}

.about-me-keys-mobile {
	display: none;
}

.about-me-connect {
	position: relative;
	margin-top: 33px;
	width: 100%;
	min-height: 30px;
	overflow: hidden;
	.connect-area {
		margin-left: 18px;
		height: 30px;
		span {
			margin-right: 21px;
			img {
				width: 28px;
				height: 28px;
				cursor: pointer;
				transition: all .3s;
				.all-opacity(0.7);
				&:hover {
					.all-opacity(1);
				}
			}
		}
	}
}

.about-me-shadow-mobile {
	display: none;
}

@media screen and (max-width: 768px){
	.about-me-box {
		position: relative;
		width: 100%;
		height: 332px;
		background-color: #eaeaea;
		.about-me-top {
			width: 100%;
			height: 110px;
			z-index: 100;
			background: rgb(77, 77, 77);
			opacity: 1;
		}
		.about-me-content {
			position: relative;
			margin: 0;
			padding-top: 10px;
			width: 100%;
			height: 322px;
			.about-me hgroup span{
				margin: 10px 0px 13px 0px;
				color: #666;
			}
			.about-me .about-me-pic {
				z-index: 200;
			}
		}
	}
	
	.about-me-message {
		color: #a0a0a0;
	}
	.about-me-menu {
		margin-top: 0px;
		position: absolute;
		bottom: 0px;
		height: 46px;
		min-height: 46px;
	}
	.menu-area {
		width: 100%;
		height: 46px;
		margin-left: 0px;
		ul {
			display: flex;
			width: 50%;
			height: 24px;
			margin: 0 auto;
			border: 1px solid #a0a0a0;
			.all-border-radius(3px);
			li {
				width: 50%;
				float: none;			
				height: 24px;
				line-height: 24px;
				a {
					display: block;
					width: 100%;
					height: 24px;
					min-width: 0px;
					text-align: center;
					color: #a0a0a0;
					&:hover {
						color: #a0a0a0;
					}
				}
				&:first-child {
					border-right: 1px solid #a0a0a0;
				}
			}
			.menu-be-selected {
				background-color: #a0a0a0;
				a {
					color: #eaeaea;
					&:hover {
						color: #eaeaea;
					}
				}
			}
		}
	}
	.about-me-keys {
		display: none;
	}
	.about-me-keys-mobile {
		display: block;
		position: fixed;
		top: 0px;
		left: 0px;
		z-index: 110;
		width: 50px;
		height: 50px;
		i {
			display: block;
			width: 24px;
			height: 24px;
			margin-top: 15px;
			margin-left: 10px;
			&:before {
				color: #eaeaea;
				font: 20px FontAwesome;
				content: '\f0ca';
			}
		}
	}
	.about-me-connect {
		margin-top: 10px;
		.connect-area {
			margin-left: 0px;
			span {
				display: inline-block;
				margin-left: 8px;
				margin-right: 8px;
				img {
					width: 26px;
					height: 26px;
				}
			}
		}
	}

	.about-me-shadow-mobile {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 50;
		width: 100%;
		height: 48px;
		background: rgb(77, 77, 77);
		ul {
			display: none;
			width: 50%;
			height: 24px;
			border: 1px solid #a0a0a0;
			list-style: none;
			border-radius: 3px;
			li {
				width: 50%;
				height: 24px;
				line-height: 24px;
				a {
					display: block;
					width: 100%;
					height: 24px;
					color: #a0a0a0;
					text-decoration: none;
					font-family: lucida grande,lucida sans unicode,lucida,helvetica,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
					font-size: 14px;
				}
				&:first-child {
					border-right: 1px solid #a0a0a0;
				}
			}
			.menu-be-selected {
				background-color: #a0a0a0;
				a {
					color: #eaeaea;
					&:hover {
						color: #eaeaea;
					}
				}
			}
		}
	}
}